.main{
    display:flex;
    flex-direction: column;
}
#arrow-up{
   
    width: 4%;
    position: fixed;
    left: 93%;
    top: 90%;
}
#arrow-up:hover{
    width: 4.5%;
}

@media only screen and (max-width:768px){
    #arrow-up{
        width: 10%;
    }
    }