.main{
    display:flex;
    flex-direction: column;
}
.project1{
    border:blanchedalmond solid;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    height: 300px;
    color: white;
    font-family: "Gotham-Bold","Helvetica Neue",sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
}
.project2{
    border:blanchedalmond solid;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin: 20px;
    height: 300px;
    color: white;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: "Gotham-Bold","Helvetica Neue",sans-serif; */
    /* font-size: 17px;
    letter-spacing: 2px; */
}

.title{
    font-size: 30px;
    font-family: "Gotham-Bold","Helvetica Neue",sans-serif;
    text-transform: uppercase;
}

.story{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
}
.description{
    border: green solid 5px;
    width: 50%;
}

.image{
    width: 300px;
    height: 300px;
}

@media only screen and (max-width:768px){

    }