
.navbar{
    color: white;
    /* font-size: larger; */
    font-family: "Gotham-Bold","Helvetica Neue",sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    /* border: white solid; */
    width: 380px;
    display: flex;
    justify-content: space-around;
    
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width:768px){
    .navbar{
        /* text-align: center; */
        width: 100%;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    /* .link{
        color: white;
        text-decoration: none;
    }
    .link:hover{
        color: white;
        text-decoration: underline;
    } */
    
}